<link rel="stylesheet" href="css/forms.css">

  <div class="main">
    <div class="register">
      <form class="middle" action="index.php?controller=users&action=login" method="post">
        <span>LOGIN TO YOUR ACCOUNT</span>
        <input class="fat" type="text" name="username" value="" placeholder="username">
        <input class="fat" type="password" name="password" value="" placeholder="password">
        <input id="button" type="submit" name="" value="LOG IN">
      </form>
    </div>

  </div>

  <script src="js/validation.js" charset="utf-8"></script>
