<link rel="stylesheet" href="css/forms.css">

  <div class="main">

    <div class="register">
      <form class="middle" action="index.php?controller=users&action=create" method="post">
        <span>CREATE A NEW USER ACCOUNT</span>
        <input class="fat" type="text" name="username" value="" placeholder="choose a username">
        <input class="fat" type="text" name="fname" value="" placeholder="your First Name">
        <input class="fat" type="text" name="lname" value="" placeholder="your Last Name">
        <input class="fat" type="password" name="password" value="" placeholder="password">
        <input class="fat" type="password" name="" value="" placeholder="verify password">
        <input class="fat" type="email" name="email" value="" placeholder="email">
        <input id="button" type="submit" name="" value="SIGN UP">
      </form>
    </div>


  </div>


  <script src="js/validation.js" charset="utf-8"></script>
