



  <div class="main">
    <div class="register">
      <form class="" action="index.php?controller=posts&action=create" method="post">
        <span>CREATE A NEW POST</span>
        <input class="fat" type="text" name="title" value="" placeholder="title">
        <input class="fat" type="text" name="url" value="" placeholder="url">
        <textarea id="content" name="content" rows="20" cols="80" placeholder="content"></textarea>
        <input id="button" type="submit" name="" value="POST">
      </form>
    </div>

  </div>
